button{
    background-color: orangered;
    padding: 3px 18px;
    color: white;
    font-weight: 700;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 15px;
}

h1{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
img{
    Width: 705px;
    Height: 800px;
}

.form-section{
    background: gainsboro;
    text-align: center;
    Height: 800px;
    width: auto;
    
}
.conatainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    overflow-x: hidden;
}

span{
    font-size: 20px;}

input{
    padding: 10px;
    border: none;
    margin: 10px 0;
    background-color: gray;
    color: white;
}

/* resonsive for mobile start--------- */
@media only screen and (max-width: 600px) {
   .conatainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
   }
   img{
    Width: 100%;
    Height: 400px;
}
h1{
    text-align: center;
}
.form-section{
    Height: 859px;
    width: 400px;
}


 }